/.env
/.env.deploy
/.data/
/.idea/
/.vscode/
/api/.env
/api/.env.local
/api/.env.*.local
/api/vendor/
/api/var/
/api/.phpunit.cache/
/web/node_modules/
/web/dist/
/web/*.tsbuildinfo
/web/vite.config.js
/web/vite.config.d.ts
/storage/books/*
!/storage/books/.gitkeep
